{% extends 'layout/base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'invoices/invoices.css' %}">
<div class="invoice">

    <div class="paid-line divider">
        <img src="{% static 'invoices/assets/logo.png' %}" alt="logo" class="invoice-logo"/>
        <h2 class="subtitle-text">VEHICLE ASSESSMENT REPORT</h2>
    </div>

    <div class="grid group invoice-parties invoice-grid">

        <div class="grid-1-2">
            <div>
                <h3>Insurance Details</h3>
                <table>
                    <tbody>
                        <tr>
                            <th scope="row" class="th-blue-color">INSURED</th>
                            <td>Capt. Hesbon Marute Wasike</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">INSURER</th>
                            <td>GEMINIA INSURANCE CO. LTD</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">POLICY/CLAIM NO</th>
                            <td>PC/01/1666114/1</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">COVER FROM</th>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">INSTRUCTOR</th>
                            <td>Onesmus Mutahi</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">SUM INSURED</th>
                            <td>Ksh. 3,810,000.00</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">VEHICLE SITUATION</th>
                            <td>Silverano</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">PRE ACCIDENT</th>
                            <td>Ksh.3,430,000.00</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">SALVAGE VALUE</th>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>Vehicle Registration</h3>
                <table>
                    <table>
                        <tbody>
                            <tr>
                                <th scope="row" class="th-blue-color">REGISTRATION NO</th>
                                <td>KCH 644L</td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">YEAR OF MFR</th>
                                <td>2012</td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">CHASSIS NO</th>
                                <td>MNBUMFO50CW129495</td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">ENGINE NO</th>
                                <td>TBA</td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">RATING</th>
                                <td>TBA</td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">MAKE &amp; TYPE</th>
                                <td>FORD RANGER D/CABIN</td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">MODEL</th>
                                <td>TBA</td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">MILEAGE</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row" class="th-blue-color">COLOR</th>
                                <td>White</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

        <div class="grid-1-2">
            <div>
                <h3>Spare Parts & Repair Summary</h3>
                <table>
                    <tbody>
                        <tr>
                            <th scope="row" class="th-blue-color">TOTAL COST OF (46) SPARES</th>
                            <td>Ksh.1,383,884.00</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">TOTAL COST OF (5) REPAIRS</th>
                            <td>Ksh.93,000.00</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">SUB TOTAL</th>
                            <td>Ksh.1,476,884.00</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">16% V.A.T</th>
                            <td class="font-weight-bold">Ksh.236,301.44</td>
                        </tr>
                        <tr>
                            <th scope="row">GRAND TOTAL</th>
                            <td class="font-weight-bold">Ksh.1,713,185.44</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3> Repair Status </h3>
                <table>
                    <tbody>
                        <tr>
                            <th scope="row" class="th-blue-color">REPAIRS</th>
                            <td>Not authorised</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">EST TIME OF REPAIRS</th>
                            <td>15 Working days</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">CONTACT PERSON</th>
                            <td>none</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">TEL NO</th>
                            <td>none</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">EMAIL</th>
                            <td>none</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <table class="margin-top">
                    <tbody>
                        <tr>
                            <th scope="row" class="th-blue-color">Condition of Vehicle</th>
                            <td>In accident state</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">Pre Accident Condition</th>
                            <td>Good</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">Brakes</th>
                            <td>Serviceable</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">Steering</th>
                            <td>Serviceable</td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-blue-color">Delivery Mode</th>
                            <td>Towed</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>TYRE (% TREAD DEPTH)</h3>
                <table>
                    <tbody>
                        <tr>
                            <th scope="row" class="th-blue-color">LHR</th>
                            <td>60%</td>

                            <th scope="row" class="th-blue-color">RHR</th>
                            <td>60%</td>

                            <th scope="row" class="th-blue-color">LHF</th>
                            <td>60%</td>

                            <th scope="row" class="th-blue-color">RHF</th>
                            <td>60%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="grid group invoice-details invoice-grid">

        <div class="grid-1-2">
            <h3><span class="text-red">VEHICLE ASSESSED BY </span><span class="text-green"> Stephen Kangethe</span></h3>
            <div class="invoice-module">
                <img src="{% static 'invoices/assets/logo.png' %}" alt="car-img" class="car-image-box"/>
            </div>
            <h3 class="small-font">
                <span class="text-red">NB: </span>
                <span class="th-blue-color"> The accident is consistent with a frontal extensive impact in the direction
                    of front to rear. </span>
            </h3>
        </div>

        <div class="grid-1-2">
            <h3 class="signed-area margin-top-0">
                <span>Signed</span>
                <span><img src="{% static 'invoices/assets/sign.png' %}" class="sign-image" alt="signed-by"/></span>
                <span>Date:</span>
                <span class="text-underline">6th September 2019</span>
            </h3>
            <h3>FOR AND ON BEHALF OF ELITE VALUERS & ASSESSORS LTD</h3>
        </div>

    </div>

    <div class="footer-line">
        Elite Automobile Valuers & Assessors - KCH 644L - Regulated by IRA
    </div>

</div>
{% endblock %}